.Main{
  height:100%;
  margin-top:70px;
  padding: 80px;

  @include flexbox(column, space-evenly);
  gap:40px;
}


.Settings{
  .uploader{
    width:200px;
    height:10px;
    background-color: darkgoldenrod;
  }

  #preview-image{
    background-color: #fff;
    border: 2px solid goldenrod;
    width:200px;
    height:200px;
  }
}