.Modal{
  position:fixed;
  width: 100vw;
  height: 100vh;
  top:0;
  left:0;
  background:$modal-transparent;
  @include flexbox(column);
  z-index: 1;
  
  .modal-container{
    @include flexbox(column, center, flex-start);
    background-color: $modal-bg-color;
    width:400px;
    height:310px;
    padding:0 60px;
    gap:10px;

    .close-modal-button{
      align-self: flex-end;
    }

    form{
      @include flexbox(column, space-between, flex-end);
      gap:10px;

      label, input, button{
        width:100%;
      }
      button{
        margin-top: 20px;
      }
    }

    form{
      width:280px;
    }
    
    .input-error{
      position:relative;
      color:$error-color;
      align-self: flex-end;
      margin-right: 0px;
      font-size: 14px;
    }
  }

  .register{
    #mail-error-1{
      top:-159px;
    }
    #mail-error-2{
      top:-159px;
    }
    
    #password-error-1{
      top:-64px;
    }
    
    #password-error-2{
      top:-64px;
    }

    .mailSendOverlay{
      position:relative;
      left:0;
      top:0;
      width:100%;
      height:100%;
    }
  }
  
  .login{
    .input-error{
      top:-58px;
    }
  }

  .registration-success{
    background: url("https://bilder4.n-tv.de/img/incoming/crop15091731/4361328873-cImg_16_9-w1200/Boris-becker.jpg") no-repeat center top;
    background-size: cover;
    color:$modal-bg-color;
    padding-top:150px;

    button{
      color:$modal-bg-color;
    }
  }
}


